<div class="repositories d-flex flex-wrap flex-md-row flex-column justify-content-start align-items-start">
  {% for project in site.data.projects.featured %}
    <div class="repo p-2 text-center me-3" style="width: 250px;">
      <a href="{{ project.url }}">
        <div class="card hoverable">
          {% if project.img %}
            {% include figure.liquid path=project.img alt="project thumbnail" class="card-img-top" style="height: 120px; object-fit: cover;" %}
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ project.name }}</h5>
            <p class="card-text">{{ project.description }}</p>
            {% if project.github %}
              <div class="github-stats">
                <img src="https://img.shields.io/github/forks/{{ project.github }}?style=flat-square" alt="GitHub forks">
                <img src="https://img.shields.io/github/stars/{{ project.github }}?style=flat-square" alt="GitHub stars">
              </div>
            {% endif %}
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
